<div class="row tweet-outer">
  <div class="col-md-12>">

    <div class="panel-body">
      <div class="row tweet-inner">
        <div class="col-md-2">
          <%= image_tag tweet.user.profile_image_uri, class: "img-responsive" %>
        </div>
        <div class="col-md-9">
          <div class="tweet-user-title">
            <h3> <%= link_to tweet.user.name, tweet.user.uri.to_s %></h3>
            <h6>(@<%= tweet.user.screen_name %>)</h6>
          </div>
          <%= tweet.full_text %><br>
        </div>
      </div>
      <br>
      <div class="row">
        <%= render partial: "tweets/favorite", locals: {tweet: tweet}  %>
        <%= render partial: "tweets/retweet", locals: {tweet: tweet}  %>
        <%= render partial: "tweets/unfollow", locals: {tweet: tweet}  %>
        <%= render partial: "tweets/more", locals: {tweet: tweet}  %>
      </div>
    </div>

  </div>
</div>
<hr>
