<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li> <%= link_to "Log out", logout_path %></li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="flash-row row text-center">
    <div class="flash-notice">
      <%= flash[:notice] %>
    </div>
  </div>
</div>
<div class="hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <div class="panel-body">
                  <h1>
                    <%= link_to @user_presenter.user.screen_name, "https://twitter.com/#{@user_presenter.user.screen_name}" %>
                  </h1>
                </div>
              </div>
            </div>
            <div class="row flex-row">
              <div class="col-md-3">
                <div class="panel-body avatar-area">
                  <%= image_tag @user_presenter.profile_picture, class: "img-responsive col-centered" %>
                </div>
              </div>
              <div class="col-md-9 stats-row">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-3">
                      tweets:<br>
                      <h4> <%= @user_presenter.user.tweets_count %></h4>
                    </div>
                    <div class="col-md-3">
                      Following:<br>
                      <h4> <%= @user_presenter.user.following_count %></h4>
                    </div>
                    <div class="col-md-3">
                      Followers:<br>
                      <h4> <%= @user_presenter.user.followers_count %></h4>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= render partial: "tweets/tweet", collection: @user_presenter.feed %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>
              Post a tweet
            </h2>
            <%= bootstrap_form_for :tweet, url: new_tweet_path  do |f|%>
            <%= f.text_area :text, maxlength: 140, size: 40  %>
            <%= f.submit "Post" %>
            <% end %>

          </div>
        </div>
      </div>
    </div>




  </div>
</div>
